.reset-form-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 350px;
}
.reset-form-forgot {
  float: right;
}
.reset-form-button {
  width: 100%;
}
.go-back {
  position: absolute;
  top: 16px;
  left: 16px;
}
.wrapper-classname {
  margin-bottom: 24px;
}
